<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95758205973-e4rsj9picb72qg29rjfu064g3gsiop3t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95758205973-e4rsj9picb72qg29rjfu064g3gsiop3t</string>
	<key>API_KEY</key>
	<string>AIzaSyCb2Y9DQyDQdw6kY0K7gVm6P-KHDXkd_hM</string>
	<key>GCM_SENDER_ID</key>
	<string>95758205973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.upsave.upsavemvp</string>
	<key>PROJECT_ID</key>
	<string>recipe-ingredient-database</string>
	<key>STORAGE_BUCKET</key>
	<string>recipe-ingredient-database.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95758205973:ios:1cad04be48f5feca363a1c</string>
	<key>DATABASE_URL</key>
	<string>https://recipe-ingredient-database.firebaseio.com</string>
</dict>
</plist>